#content #content_body {
    overflow: hidden;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: none;
}

#content #content_body #type {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#content #content_body #textdescription {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#content #content_body #save_button {
    background: #4490f7;
    height: 40px;
    line-height: 40px;
    width: 30%;
    margin-left: 35%;
    border-radius: 5px;
    border: 1px solid #4490f7;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}

