#content #content_body #upload_button {
    background: #4490f7;
    height: 40px;
    line-height: 40px;
    width: 30%;
    margin-left: 35%;
    border-radius: 5px;
    border: 1px solid #4490f7;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}
.file {
    position: relative;
    display: block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    width: 30%;
    margin-left: 35%;
    text-align: center;

}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

#content #content_body{
    position: absolute;
    left: 39%;
    top: 70%;
    overflow: hidden;
    width: 50%;
    height: 100%;
    display: none;
}