<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>XAIGN</title>
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">访问Model</h3>
        </div>
        <div class="panel-body">
            <!--/*@thymesVar id="singlePerson" type="com.feidian.xiang.webfinal.model.Person"*/-->
            <span th:text="${singlePerson.getName()}"></span><br/>
        </div>
    </div>
</body>
</html>