<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
<title>登录</title>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
<link rel="stylesheet" th:href="@{/css/login.css}"/>
<body>
<el-container id='wrapper'>
    <el-header id="header">
        <div class="container">
            <a href="javascript:void(0)" class="log">作业管理</a>
            <div id="login">
                <img th:src="@{/image/user.jpg}" alt="Login" id="User"/>
            </div>
            <div id="search"></div>
            <div id="nav">
                <ul class="navul">
                    <li><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">Manage</a></li>
                    <li><a href="javascript:void(0)">About Us</a></li>
                </ul>
            </div>
        </div>
    </el-header>
    <el-main id='main'>
        <div class="container">
            <div id='page'>

                <div id="switch_header">
                    <a>账户登陆</a>
                </div>

                <form class="form-signin" action="/login" method="post">
                    <input type="text" name="inputId" id="inputId" class="form-control" placeholder="学号"/>
                    <input type="password" name="inputPassword" id="inputPassword" class="form-control"
                           placeholder="密码"/>
                    <input class="submit" type="submit" id="submit" value="登陆"/>
                </form>
            </div>
        </div>
    </el-main>
    <el-footer id="footer">
        <div class="container">
            <div id="copyright">
                <p>©2018 Powered by <a href="http://www.52feidian.com/" target="_blank"> Feidian Studio </a> | All
                    Rights Reserved.</p>
            </div>
        </div>
    </el-footer>
</el-container>
</body>
<style type="text/css">
    .el-footer {
        width: 100%;
        background: #222222;
        height: 50px;
        float: left;
        border-top: 1px solid #ccc;
        box-shadow: inset 3px 2px 6px #000;
    }
</style>
</html>