<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/manage.css}" />
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
    <title>后台管理</title>
</head>
<script th:inline="javascript">
    var xmlHttp = new XMLHttpRequest();
    function editdDescription(id) {
        if (id != null) {
            var str = [[${assignments}]];
            var assignments = eval(str);
            var description;
            var name;
            assignments.forEach(function (value) {
                if (value.id === id) {
                    description = value.description;
                    name = value.name;
                }
            });
            $("#content_header").text(name);
            $("#assign_body").hide();
            $("#content_body").show();
            $("#type").show();
            document.getElementById('textdescription').value = description;
            document.getElementById('type').value = name;
        } else {
            $("#content_header").text('添加作业');
            $("#assign_body").hide();
            $("#content_body").show();
            $("#type").show();
            document.getElementById('textdescription').value = '';
            document.getElementById('type').value = '';
        }
    }
    function deleteAssign() {
        var name = $('#content_header').html();
        xmlHttp.open('post', '/delete/assign?name='+name, true);
        xmlHttp.send();
        window.location.reload();
    }
    function saveAssign() {
        var inputName = document.getElementById('type').value;
        var name = $('#content_header').html();
        var description = document.getElementById('textdescription').value;
        var isThere = false;        //检查是否已存在
        var id;
        var str = [[${assignments}]];
        var assignments = eval(str);
        assignments.forEach(function (value) {
            if (value.name === inputName) {
                isThere = true;
                id = value.id;
            }
        });
        if ( inputName==null|| inputName.length===0) {
            alert('请输入作业名称');
        } else if (name === '添加作业') {
            if (!isThere) {
                $.ajax({
                    type: "post",
                    url: "/save/assign",
                    data: {name: inputName, description: description},
                    success: function () {
                        window.location.reload();
                    }
                });
            } else {
                alert(inputName + '已存在!');
            }
        } else {
            $.ajax({
                type: "post",
                url: "/save/assign",
                data: {id: id, name: inputName, description: description},
                success: function () {//ajax请求成功后触发的方法
                    window.location.reload();
                }
            });
        }


    }
</script>

<body>
<div id="wrapper">
    <div id="header">
        <div class="container">
            <a href="javascript:void(0)" class="log">作业管理</a>
            <div id="login">
                <img  th:src="@{/image/user.jpg}" alt="Login" id="User"/>
                <div id="showlog">
                    <p  class="Lo"><a href="/logout">登出</a></p>
                    <p  class="Lo"><a href="/logout">用户管理</a></p>
                </div>
            </div>
            <div id="search"></div>
            <div id="nav">
                <ul class="navul">
                    <li><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">Manage</a></li>
                    <li><a href="javascript:void(0)">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main">
        <div class="container">
            <div id="sidebar">
                <div id="sideHeader">
                    <div><br/></div>
                    <div id="active" th:onclick="'editdDescription();'">添加作业</div>
                </div>
                <!--/*@thymesVar id="assignments" type="java.util.List<com.feidian.xiang.webfinal.domain.model.Assignment>"*/-->
                <ul id="sidebody" th:each="assignment, index:${assignments}">
                    <li><a th:text="${assignment.getName()}" th:onclick="'editdDescription('+${assignment.getId()}+');'"></a></li>
                </ul>
            </div>
            <div id="content">
                <div id="content_header" >使用说明</div>
                <div id="assign_body" >
                    <span>&nbsp; &nbsp;1. 点击左侧作业查看作业详情。<br/></span>
                </div>
                <div id="content_body" >
                    <form >
                        <input type="text" name="name" id="type" style="display: none" title="标题" placeholder="标题"/>
                        <textarea id="textdescription" maxlength="240" rows="10" cols="50" name="description" title="" placeholder="详情"></textarea>
                        <br/>
                    </form>
                    <div id="form_control">
                        <button id="save_button" onclick="saveAssign()">提交</button>
                        <button id="delete_button" onclick="deleteAssign()">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div id="copyright">
                <p>©2018 Powered by <a href="http://www.52feidian.com/" target="_blank"> Feidian Studio </a> | All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>